geth:
  imagePullPolicy: IfNotPresent
  image:
    repository: ethereum/client-go
    tag: stable
  replicaCount: 1
  storageClass: azurefile
  storage: 5Gi
  accessMode: ReadWriteMany
  memory: 2Gi
  networkid: 10319988
  datadir: /root/.ethereum