geth:
  imagePullPolicy: IfNotPresent
  image:
    repository: ethereum/client-go
    tag: stable
  replicaCount: 1
  storageClass: azurefile
  storage: 5Gi
  accessMode: ReadWriteMany
image:
  repository: jx3mqubebuild.azurecr.io/spring-financial-group/geth-helm
  tag: 0.0.21
