{{- if .Values.geth.networkid }}
kind: ConfigMap
apiVersion: v1
metadata:
  name: geth-startup
data:
  startup.sh: |
    #!/bin/sh


{{- if .Values.geth.networkid }}
    echo "Generating initial block from genesis file"
    geth init --datadir {{ template "geth-node.name" . }} genesis.json
{{- end}}
    echo "Genesis block generated, now starting the worker"
    geth \
{{- if .Values.geth.networkid }}
    --networkid {{ int .Values.geth.networkid }} \
{{- end}}
    --http --http.corsdomain=* --http.vhosts=* --http.addr=0.0.0.0 --http.api=web3,eth,txpool,personal,ethash,net,les,vflux --cache=1024 \
    --ipcdisable
    {{- end }}